.main-div{
    background-color: 	 #89ABE3FF;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
   
}
.child-div{
   width:30%;
   margin: 0 auto;
   background-color:     #FFE77AFF;
   text-align: center;
}

.eachItem{
    display: flex;
    width: 100%;
    margin-top:10px;
    justify-content: space-around;
}

.eachItem h3{
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

.eachItem .btn-main{
    flex: 1;
}
.eachItem button {
    height:22px;
    margin-left: 10px;
}

.eachItem h3 {
    margin: 0;
}

.addItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}


.addItems  .input-type{
    outline: none;
    width: 75%;
    padding-left: 10px;
}

.addItems .add-btn {
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width:100%;
}

.text {
    margin: 20px 0;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.removeBtn {
    margin-bottom: 20px;
}

.edit-btn {
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
     font-size: 15px;
}

.del-btn {
    
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
     cursor: pointer;
      font-size: 15px;
    margin-left:10px;
}

.addBtn {
    width: 15%;
}

  

